<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <title>{% block title %}{% endblock %}</title>
  <link rel='stylesheet' href='{{ url_for('static', filename='css/main.css')}}'>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
</head>

<body>
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
	  <h5 class="my-0 mr-md-auto font-weight-normal">Zhenya</h5>
	  <nav class="my-2 my-md-0 mr-md-3">
	    <a class="p-2 text-dark" href="/">Главная</a>
	    <a class="p-2 text-dark" href="/about">Неглавная</a>
	    <a class="p-2 text-dark" href="/posts">Статьи<D-i><D-i></a>
	  </nav>
	    <a class='btn btn-warning' href='/create-article'>Создать</a>
	</div>
	{% block body %}{% endblock %}
</body>
</html>
